{% load static %}
<!doctype html> <!-- Told Browser This is Html File-->
<html lang="zh-Hant">
  <head> <!-- Page Info -->
    <meta charset="utf-8" /> <!-- Chinese Encoding -->
    <title>ULsite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="keywords" content="UL, unlight, 任務, 攻略" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}?v={% now 'U' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'media/gem.gif' %}"/>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    
    <!-- Common Top Navigator -->
    <div class="topnav">
      <a href="{% url 'homepage' %}">Home</a>
      <a href="{% url 'quest_homepage_list' %}">Map</a>
      <!--<a href="#contact">Characters</a>-->
    </div>

    <!-- Main Content -->
    <div class="content">
      {% block content %}
      <!-- Child Page Overwrite Here -->
      {% endblock %}
    </div>

  </body>
</html>
